@inject NavigationManager Navigation
@inherits LayoutComponentBase

<div>
    <AuthorizeView>
        <Authorizing></Authorizing>
        <Authorized>
            <NavBar />
        </Authorized>
    </AuthorizeView>
    <div class="container">
        @Body
    </div>
</div>
